/* Make it looks good on CodePen */
html {
  background-color: #99CCFF;
}
html, body, .sonar-wrapper {
  height: 100%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* Prevent scrollbars to appear when waves go out of bound */
.sonar-wrapper {
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 10rem 0;
}

/* The circle */
.sonar-emitter {
  position: relative;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border-radius: 9999px;
  background-color: hsl(195, 68%, 80%);
}

/* the 'wave', same shape and size as its parent */
.sonar-wave {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: hsl(195, 68%, 80%);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

/*
  Animate!
  NOTE: add browser prefixes where needed.
*/
.sonar-wave {
  animation: sonarWave 1s linear infinite;
}

@keyframes sonarWave {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(4);
    opacity: 0;
  }
}
